### Importing Libraries

In [12]:
import pyarrow.parquet as pq
import pandas as pd
import os

## Test

### Setup Working Directory

In [13]:
#read the path
file_path = ""

In [14]:
trips = pq.read_table('nyc_green_taxi_parquet_format/green_tripdata_2018-01.parquet')

In [15]:
trips = trips.to_pandas()
locations = pd.read_csv('taxi_zone.csv')

In [16]:
trips.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,None,0.3,7.3,2,1.0,None
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,None,0.3,15.8,2,1.0,None
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,None,0.3,11.3,2,1.0,None
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,None,-0.3,-4.3,3,1.0,None
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,None,0.3,4.3,2,1.0,None

In [17]:
display(locations)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [18]:
trips.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
count,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792741.000000
mean,1.826307,1.074549,109.994698,128.606592,1.362838,2.665351,11.734082,0.339536,0.487984,1.035210,0.084959,0.293027,14.001791,1.475638,1.018217
std,0.378845,0.565258,74.422768,77.166692,1.047155,2.844045,10.163493,0.395044,0.083898,1.893419,1.020368,0.049675,11.086153,0.521874,0.133734
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-183.000000,-4.500000,-0.500000,-2.720000,0.000000,-0.300000,-183.000000,1.000000,1.000000
25%,2.000000,1.000000,49.000000,61.000000,1.000000,0.990000,6.000000,0.000000,0.500000,0.000000,0.000000,0.300000,7.800000,1.000000,1.000000
50%,2.000000,1.000000,82.000000,129.000000,1.000000,1.700000,9.000000,0.000000,0.500000,0.000000,0.000000,0.300000,10.800000,1.000000,1.000000
75%,2.000000,1.000000,166.000000,192.000000,1.000000,3.270000,14.000000,0.500000,0.500000,1.760000,0.000000,0.300000,16.800000,2.000000,1.000000
max,2.000000,99.000000,265.000000,265.000000,9.000000,140.620000,2126.000000,4.500000,0.500000,295.000000,557.550000,0.300000,2126.800000,5.000000,2.000000

In [19]:
trips.memory_usage()

Index                        128
VendorID                 6341952
lpep_pickup_datetime     6341952
lpep_dropoff_datetime    6341952
store_and_fwd_flag       6341952
RatecodeID               6341952
PULocationID             6341952
DOLocationID             6341952
passenger_count          6341952
trip_distance            6341952
fare_amount              6341952
extra                    6341952
mta_tax                  6341952
tip_amount               6341952
tolls_amount             6341952
ehail_fee                6341952
improvement_surcharge    6341952
total_amount             6341952
payment_type             6341952
trip_type                6341952
congestion_surcharge     6341952
dtype: int64

In [20]:
trips.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
count,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792744.000000,792741.000000
mean,1.826307,1.074549,109.994698,128.606592,1.362838,2.665351,11.734082,0.339536,0.487984,1.035210,0.084959,0.293027,14.001791,1.475638,1.018217
std,0.378845,0.565258,74.422768,77.166692,1.047155,2.844045,10.163493,0.395044,0.083898,1.893419,1.020368,0.049675,11.086153,0.521874,0.133734
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-183.000000,-4.500000,-0.500000,-2.720000,0.000000,-0.300000,-183.000000,1.000000,1.000000
25%,2.000000,1.000000,49.000000,61.000000,1.000000,0.990000,6.000000,0.000000,0.500000,0.000000,0.000000,0.300000,7.800000,1.000000,1.000000
50%,2.000000,1.000000,82.000000,129.000000,1.000000,1.700000,9.000000,0.000000,0.500000,0.000000,0.000000,0.300000,10.800000,1.000000,1.000000
75%,2.000000,1.000000,166.000000,192.000000,1.000000,3.270000,14.000000,0.500000,0.500000,1.760000,0.000000,0.300000,16.800000,2.000000,1.000000
max,2.000000,99.000000,265.000000,265.000000,9.000000,140.620000,2126.000000,4.500000,0.500000,295.000000,557.550000,0.300000,2126.800000,5.000000,2.000000

In [21]:
trips['VendorID'].value_counts()

2    655050
1    137694
Name: VendorID, dtype: int64